.canteados__section-one{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.canteados__section-one--image-container{
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/v1621527958/DISE%C3%91OS%20Y%20MATERIALES/3.%20CANTEADO/COCINAS/Cocilux-Trabajos_Realizados-Cocinas_Madrid-CAN_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 80vw;
    height: 100vh;
}
.canteados__section-one--header{
    background:#F6F3EE;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canteados__section-one--header-content{
    transform: rotate(-90deg);
    margin-left: 10%;
}

.canteados__section-one--header--A{
    font-size: 24px;
    color:#222222;
    font-family: 'Abhaya Libre', serif;
}

.canteados__section-one--header--B{
    font-size: 48px;
    color:#222222;
    font-family: 'Abhaya Libre', serif;
}

/* Second section */

.canteados__section-two{
    width: 100vw;
    height: fit-content;
    padding-right: 10vw;
    padding-left: 10vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:#F6F3EE;
    padding-top: 10%;
    padding-bottom: 10%;
}

.canteados__section-two--header{
    font-size: calc(26px + 0.5vw);
    font-family: 'Abhaya Libre', serif;
    color: #222222;
}

.canteados__section-two--caracteristicas{
    font-size: calc(16px + 0.5vw);
    font-family: 'Open Sans', sans-serif;
    color:#222222;
}

.canteados__section-two--separation-bar{
    width: 10vw;
    border: solid black 1px;
    background:black;
}

/* Third section */

.canteados__section-three{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.canteados__section-three--image-container{
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/v1621527958/DISE%C3%91OS%20Y%20MATERIALES/3.%20CANTEADO/COCINAS/Cocilux-Trabajos_Realizados-Cocinas_Madrid-CAN_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6);
    position: absolute;
}

.canteados__section-three--content{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    font-size: calc(36px + 0.5vw);
    font-family: 'Abhaya Libre', serif;
    color: #F6F3EE;
    position: relative;
    letter-spacing: 0.3vw;
    justify-self: center;
}

.canteados__section-three--content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    padding-left: 10%;
}

.canteados__section-three--separation-bar{
    width: 10vw;
    height: 1px;
    border: solid #F6F3EE 1px;
    background:#F6F3EE;
    align-self: flex-start;
}

/* CANTEADOS */

.canteados--container{
    width: 100vw;
    height: fit-content;
    padding-top: 10vh ;
    background: #222222;
 }
 
 .canteados--grid{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
 }

 .canteados--grid-unit-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    -webkit-box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    2px 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow:  7px 6px 10px 3px rgba(0, 0, 0, 0.4);
    transition: all 1s ease-in-out;
    z-index: 10;
}

.canteados--grid-unit-container:hover .canteados__grid-unit-description, .canteados--grid-unit-container:active .canteados__grid-unit-description{
    opacity: 1;
    height: 30%;
    z-index:0;
    transition: all 1s ease-in-out;
}

.canteados--grid-unit-container:hover .canteados__image, .canteados--grid-unit-container:active .canteados__image{
    transform: scale(0.9);
    transition: all 1s ease-in-out;
}

.canteados__grid-unit-description{
    width: 100%;
    height: 0%;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    opacity: 0;
    transition: all 1s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    color:#222222;
}

.canteados__grid-unit-description-bold{
    display: inline-block;
    font-weight: 600;
}

.canteados__image{
    display: flex;
    height: 70%;
    width: 70%;
    align-self: center;
    transition: all 1s ease-in-out;
}


// /* MOBILE DISPLAYS */
@media screen and (max-width: 1024px){
    
    /* SECTION ONE */
    .canteados__section-one{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .canteados__section-one--image-container{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100vw;
        height: 100vh;
    }
    
    .canteados__section-one--header{
        background: white;
        width: 100vw;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }
    
    .canteados__section-one--header-content{
        transform: rotate(0deg);
    }
    
    .canteados__section-one--header--A{
        font-size: 16px;
    }
    
    .canteados__section-one--header--B{
        font-size: 36px;
    }


}