*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.catalogo__header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  position: relative;
  z-index: 5;
  
}
