  .contact{
    width: 100%;
    height: 100vh;
  }
  
  .contact__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    background: rgba(0, 0, 0, 0.85);
    height: 25vh;
  }
  
  .contact__header-content{
    color: snow;
    margin-left: 5vw;
    font-size: calc(3vw + 15px);
    font-weight: 200;
  }
  
  .contact__inner-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 75vh;
  }

  @media screen and (max-width: 768px){
    .contact__inner-content{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 75vh;
        
      }
    .contact__details{
        min-width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
      }
    .contact__middle-bar{
        display: none;
    }
    .contact__form-container{
        min-width: 100vw;
        height: 75vh;
        padding-bottom: 2%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;
        background-color: rgba(128, 128, 128, 0.2);
    }
    }
  
  .contact__details{
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact__details-paragraph--one{
    font-size: calc(10px + 0.7vw);
    margin:5%;
  }

  .contact__details-list{
    font-size: calc(10px + 0.7vw);
    margin-left: 8%;
  }

  .contact__details-list--element{
      display: flex;
      flex-direction: row;
  }

  .contact__details-list--bold{
    font-weight: 700;
  }

  .contact__details-paragraph--two{
    font-size: calc(10px + 0.7vw);
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6%;
  }

  .contact__details-paragraph--three{
    font-size: calc(10px + 0.7vw);
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
  }
  
  .contact__form-container{
      width: 50vw;
      height: 75vh;
      background-color: rgba(128, 128, 128, 0.2);
  }

  .contact__middle-bar{
    background: black;
    border: solid black 3px;
    border-radius: 5px;
    width: 3px;
    height: 45vh;
    position: absolute;
    bottom: 15vh;
    margin-left: calc(50% - 3px);
    z-index: 1;
}
