.design-and-materials__header{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("https://res.cloudinary.com/gunnerag/image/upload/v1617627371/Andrea/1._IMG_rz1pbv.png");
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.design-and-materials__content-container{
    width:100vw;
    height: fit-content;
 }

/* MAIN MENU COMPONENT */
.design-and-materials__main-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.design-and-materials__main-menu__header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15%;
    padding-bottom: 5%;
    color:#F6F3EE;
    font-size: calc(2vw + 25px);
    font-family: 'Abhaya Libre', serif;
}

@media screen and(max-width: 1024px) {

    .design-and-materials__main-menu__header{
        padding-top: 0%;
        padding-bottom: 10%;
    }

    .design-and-materials__content-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}




