.distribucion__section-one{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.distribucion__section-one--image-container{
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1622135650/TIPOS%20DE%20DISTRIBUCI%C3%93N/POLILAMINADO_9_nyicvw.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6);
    position: absolute;
    overflow: hidden;
}

.distribucion__section-one--content{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    font-size: calc(36px + 0.5vw);
    font-family: 'Abhaya Libre', serif;
    color: #F6F3EE;
    position: relative;
    letter-spacing: 0.3vw;
    justify-self: center;
}

.distribucion__section-one--content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    padding-left: 10%;
}

.distribucion__section-one--separation-bar{
    width: 10vw;
    height: 1px;
    border: solid #F6F3EE 1px;
    background:#F6F3EE;
    align-self: flex-start;
}


/*SECTION TWO*/

.distribucion__section-two{
    width: auto;
    height: fit-content;
    padding-right: 10vw;
    padding-left: 10vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:#F6F3EE;
    padding-top: 10%;
    padding-bottom: 10%;
}

.distribucion__section-two--header{
    font-size: calc(26px + 0.6vw);
    font-family: 'Abhaya Libre', serif;
}

.distribucion__section-two--caracteristicas{
    font-size: calc(16px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
}

.distribucion__section-two--separation-bar{
    width: 10vw;
    border: solid black 1px;
    background:black;
}


/*SECTION THREE*/

.distribucion__section-three{
    width: 100vw;
    height: fit-content;
    display: flex;
    padding-top: 1%;
}

.distribucion__section-three--image{
    width: 60vw;
    height: auto;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    2px 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow:  7px 6px 10px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 1%;
}

.distribucion__section-three--description{
    width: 40vw;
    height: auto;
    font-size: calc(26px + 0.6vw);
    font-family: 'Abhaya Libre', serif;
    padding-top: 3%;
}

.distribucion__section-three--description-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    font-weight: 900;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(26px + 0.6vw);
 }

.distribucion__section-three--description-header-text{
   display: flex;
   flex-direction: column;
}


.distribucion__section-three--separation-bar{
    width: 10vw;
    height: 1px;
    border: solid #222222 1px;
    background: #222222;
    margin-left: 25%;
}

.distribucion__section-three--text{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: calc(16px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
}

@media  screen and(max-width:1024px) {

    .distribucion__section-one{
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .distribucion__section-one--content{
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        font-size: calc(36px + 0.5vw);
        font-family: 'Abhaya Libre', serif;
        color: #F6F3EE;
        position: relative;
        letter-spacing: 0.3vw;
        justify-self: center;
        padding-top: 20%;
    }

    .distribucion__section-one--separation-bar{
        width: 10vw;
        height: 1px;
        border: solid #F6F3EE 1px;
        background:#F6F3EE;
        align-self: flex-start;
        margin-bottom: 20%;
    }

    .distribucion__section-one--image-container{
        background: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1622135650/TIPOS%20DE%20DISTRIBUCI%C3%93N/POLILAMINADO_9_nyicvw.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 100vw;
        height: 100%;
        filter: brightness(0.6);
        position: absolute;
        overflow: hidden;
    }

    .distribucion__section-three{
        width: 100vw;
        height: fit-content;
        display: flex;
        padding-top: 30%;
        flex-direction: column;
        overflow: hidden;

    }

    .distribucion__section-three--image{
        height: auto;
        width: auto;
        transform: scale(1.5);
        border-radius: 0;
        overflow: hidden;
    }

    .distribucion__section-three--description-header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        font-weight: 900;
        padding-top: 25%;
     }
    

    .distribucion__section-three--description{
        width: 100vw;
        height: auto;
        font-size: calc(26px + 0.6vw);
        font-family: 'Abhaya Libre', serif;
        padding-top: 3%;
    }
    
}