.encimeras__section-one{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.encimeras__section-one--image-container{
    width: 80vw;
    height: fit-content;
    max-height: 80vh;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

.encimeras__section-one--image{
    width: 80vw;
    height: auto;
}

.encimeras__section-one--header{
    background: #F6F3EE;
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encimeras__section-one--header-content{
    transform: rotate(-90deg);
    margin-left: 10%;
}

.encimeras__section-one--header--A{
    font-size: 48px;
    color:#222222;
    font-family: 'Abhaya Libre', serif;
}

/* Second section */

.encimeras__section-two{
    width: 100vw;
    height: fit-content;
    padding-right: 10vw;
    padding-left: 10vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:#F6F3EE;
    padding-top: 10%;
    padding-bottom: 10%;
}

.encimeras__section-two--header{
    font-size: calc(26px + 0.6vw);
    font-family: 'Abhaya Libre', serif;
    height: fit-content;
    color:#222222;
}

.encimeras__section-two--caracteristicas{
    font-size: calc(16px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
    color:#222222;
}

.encimeras__section-two--separation-bar{
    width: 10vw;
    border: solid #222222 1px;
    background:#222222;
}


/* Third section */

.encimeras__section-three{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.encimeras__section-three--content-container{
    background: #F6F3EE;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100vw;
}

.encimeras__section-three--button-container{
    display: flex;
    height: fit-content;
    width: 80vw;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap; 
}

// animation button //

.encimeras__section-three--button {
    z-index: 10;
    background: none;
    border: solid 5px #222222;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin:1vw;
    font-family: 'Abhaya Libre', serif;
    color: #222222;
    font-size: 16px;
    background: none;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #222222;
    color: #222222;
    font-weight: 700;
  
    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .spin{
      width: 200px;
      height: 200px;
      padding: 0;
      color:#222222;
      
      &:hover {
        color: #222222;
        font-size: 24px;
        transition: font-size 0.4s ease-in-out;
      }
    
      &::before,
      &::after {
        top: 0;
        left: 0;
        
      }
    
      &::before {
        border: 2px solid transparent; 
      }
    
      &:hover::before {
        border-top-color: #222222;
        border-right-color: #222222;
        border-bottom-color: #222222;
    
        transition:
          border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
      }
    
      &::after {
        border: 0 solid transparent; 
      }
    
      &:hover::after {
        border-top: 2px solid #222222; 
        border-left-width: 2px; 
        border-right-width: 2px; 
        transform: rotate(270deg); 
        transition:
          transform 0.4s linear 0s,
          border-left-width 0s linear 0.35s; 
      }
    }
    
    .circle {
      border-radius: 100%;
      box-shadow: none;
        
      &::before,
      &::after {
        border-radius: 100%;
      }
  }

/*ENCIMERAS FORMICA*/

.encimeras__formica--info{
    width: 100vw;
    min-height: 100vh;
    padding-right: 10vw;
    padding-left: 10vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:#F6F3EE;
}

.encimeras__formica--info-header{
    font-size: calc(26px + 0.6vw);
    font-family: 'Abhaya Libre', serif;
    color:#222222;
}

.encimeras__formica--info-caracteristicas{
    font-size: calc(16px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
    color:#222222;
}

.encimeras__formica--info-separation-bar{
    width: 10vw;
    border: solid #222222 1px;
    background:#222222;
}

/* ENCIMERAS CUARZO */

.encimeras__cuarzo--info{
    width: 100vw;
    min-height: 100vh;
    padding-right: 10vw;
    padding-left: 10vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:#F6F3EE;
}

.encimeras__cuarzo--info-header{
    font-size: calc(26px + 0.6vw);
    font-family: 'Abhaya Libre', serif;
    color:#222222;
}

.encimeras__cuarzo--info-caracteristicas{
    font-size: calc(16px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
    color:#222222;
}

.encimeras__cuarzo--info-separation-bar{
    width: 10vw;
    border: solid black 1px;
    background:black;
}

/*FORMICA COLECCION */

.encimeras__formica-cuarzo--container-one{
    width: 100vw;
    height: fit-content;
    position: relative;
    background: white;
}

.encimeras__formica-cuarzo--header{
    font-size: calc(36px + 0.5vw);
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    position: relative;
    color: #222222;

}

.encimeras__formica-cuarzo--grid-one{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.encimeras__formica-cuarzo--one-unit{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2.5vw;
    flex-wrap: wrap;
}

.encimeras__formica-cuarzo--one{
    width: 25vw;
    height: 25vh;
    margin-top: 5vh;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    2px 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow:  7px 6px 10px 3px rgba(0, 0, 0, 0.4);
}

.encimeras__formica-cuarzo--one-text{
    margin-top: 2%;
    font-size: calc(16px + 0.5vw);
    font-family: 'Open Sans', sans-serif;
}

.clear{
    color: white;
    background: #222222; 
}

.dark{
    color: #222222;
    background: white;
}

/* coleccion formica */
.formica--1907-mate{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_1907_MATE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--279-stucco{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_2272_STUCCO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3306-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3306_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3308-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3308_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3309-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827385/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3309_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3313-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827385/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3313_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3584-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827386/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3584_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3585-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827387/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3585_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3586-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827386/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3586_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3314-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827385/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3314_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3580-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827386/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3580_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--3315-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827385/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_3315_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--6261-stucco{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827387/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_6261_STUCCO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--042-anc{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827387/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ANG_044.jpg");
    background-position: center;
    background-size: cover;
}

.formica--acacia-choco-inca{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827387/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ACACIA_CHOCO_INCA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--are-261-stone{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ARE_261_STONE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--arena-blanca{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827388/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ARENA_BLANCA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--blanco-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827388/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_BLANCO_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--anm-047{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827388/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ANM_047.jpg");
    background-position: center;
    background-size: cover;
}

.formica--ang-044{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827387/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ANG_044.jpg");
    background-position: center;
    background-size: cover;
}

.formica--ann-048{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827388/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ANN_048.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cai-036-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_CAI_036_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cal-800-feel{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_CAL-800-FEEL.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cat-178-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_CAT_178_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--veo-774-wax{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827383/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_VEO_774_WAX.jpg");
    background-position: center;
    background-size: cover;
}

.formica--f271-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827391/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_F271_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--f281-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827393/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_F281_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cemento{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_CEMENTO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cemento-gris{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827390/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_CEMENTO_GRIS.jpg");
    background-position: center;
    background-size: cover;
}

.formica--cov-222-tf{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_COV_222_TF.jpg");
    background-position: center;
    background-size: cover;
}

.formica--f9483-ferro{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827391/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_F9483_FERRO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--glm-246-pietra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827391/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_GLM_246_PIETRA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--glp-283-pietra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827392/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_GLP_283_PIETRA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--granito-gala{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827393/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_GRANITO_GALA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--gris-suave{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827392/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_GRIS_SUAVE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--gris{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827392/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_GRAY_GRIS.jpg");
    background-position: center;
    background-size: cover;
}

.formica--ipanema-blue{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827396/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_IPANEMA_BLUE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--iquitos-inca{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827392/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_IQUITOS_INCA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--kmm-740-wax{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827393/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_KMM_740_WAX.jpg");
    background-position: center;
    background-size: cover;
}

.formica--lar-770-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827393/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_LAR_770_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--lima-inca{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827394/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_LIMA_INCA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--lsb-777-pietra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827394/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_LSB_777_PIETRA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--marmol-zeus{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827395/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_MARMOL_ZEUS.jpg");
    background-position: center;
    background-size: cover;
}

.formica--mta-768-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827396/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_MTA_768_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--mtc-769-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827397/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_MTC_769_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--luna-nueva{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827394/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_LUNA_NUEVA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--marmol-blanco{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827395/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_MARMOL_BLANCO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--marmol-ulloa{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827396/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_MARMOL_ULLOA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--nazca-inca{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827397/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_NAZCA_INCA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--negro-manchego{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827397/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_NEGRO_MANCHEGO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--negro-trento{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827398/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_NEGRO_TRENTO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--rga-9620-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827403/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_RGA_9620_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--rgr-9640-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827404/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_RGR_9640_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-burgos{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827405/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_BURGOS.jpg");
    background-position: center;
    background-size: cover;
}

.formica--oas-278-stone{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827398/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_OAS_278_STONE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pino-tampere{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827398/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PINO_TAMPERE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--piz-224-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827401/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PIZ_224_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-hercules{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827403/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_HERCULES.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-olbia{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827405/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_OLBIA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-san-simon{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827406/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_SAN_SIMON.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pizarra-lousa{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827401/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PIZARRA_LOUSA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pizarra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827401/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PIZARRA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pp-5564-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827401/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PP_5564_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-teyeu{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827406/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_TEYEU_mixyer.jpg");
    background-position: center;
    background-size: cover;
}

.formica--roble-winchester{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827407/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROBLE_WINCHESTER.jpg");
    background-position: center;
    background-size: cover;
}

.formica--ron-803{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827406/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_RON-803.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pp-5568-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827402/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PP_5568_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--pp-7581-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827403/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_PP_7581_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--rg-102-br{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827404/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_RG_102_BR.jpg");
    background-position: center;
    background-size: cover;
}

.formica--terra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827383/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_TERRA.jpg");
    background-position: center;
    background-size: cover;
}

.formica--tra-260-stone{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827386/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_TRA_260_STONE.jpg");
    background-position: center;
    background-size: cover;
}

.formica--vec-73-wax{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827383/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_VEC_73_WAX.jpg");
    background-position: center;
    background-size: cover;
}

.formica--ros-804{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827407/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_ROS_804.jpg");
    background-position: center;
    background-size: cover;
}

.formica--rustico{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827382/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_RUSTICO.jpg");
    background-position: center;
    background-size: cover;
}

.formica--sln-440-rock{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827383/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_SLN_440_ROCK.jpg");
    background-position: center;
    background-size: cover;
}

.formica--vintage-wood{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_VINTAGE_WOOD.jpg");
    background-position: center;
    background-size: cover;
}

.formica--woo-242-soft{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827384/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_WOO_242_SOFT.jpg");
    background-position: center;
    background-size: cover;
}

.formica--eve-801-feel{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827389/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20FORMICA/Cocilux-Encimeras_Formica-Cocinas_Madrid-FORM_MOD_EVE-801-FEEL.jpg");
    background-position: center;
    background-size: cover;
}

/*CUARZO*/

.cuarzo--calacatia{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827461/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_1_CALACATTA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--acuarela{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_2_ACUARELA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--amazon{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_3_AMAZON.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--alaska{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_4_ALASKA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--añil{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_5_A%C3%91IL.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--beige-galaxy{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_6_BEIGE_GALAXY.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--blanco-polar{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_10_BLANCO_POLAR.png");
    background-position: center;
    background-size: cover;
    border: solid black 5px;
}

.cuarzo--capuchino{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_11_CAPUCHINO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--carrara{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_12_CARRARA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--blanco-arenal{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_7_BLANCO_ARENAL.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--blanco-diamante{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_8_BLANCO_DIAMANTE.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--blanco-glacial{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827463/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_9_BLANCO_GLACIAL.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--ceniza-galaxy{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_13_CENIZA_GALAXY.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--cherry{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_14_CHERRY.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--cyclon{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_15_CYCLON.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--cielo{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_16_CIELO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-circon{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_17_TABLA_CIRCON.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--colorado{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_18_COLORADO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--eclipse{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827464/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_19_ECLIPSE.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--forest{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827465/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_20_FOREST.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--gris-niebla{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827465/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_21_GRIS_NIEBLA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--marfil-luxe{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827465/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_22_MARFIL_LUXE.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--marte{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827466/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_23_MARTE.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-mercurio{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827469/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_24_TABLA_MERCURIO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--negro-galaxy{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_25_NEGRO_GALAXY.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--oasis{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827469/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_26_OASIS.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--oceano-galaxy{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_27_OC%C3%89ANO_GALAXY.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-pirineos{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827469/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_28_TABLA_PIRINEOS.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--pistacho{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827469/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_29_PISTACHO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-plata{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_30_TABLA_PLATA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-platinum{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_31_TABLA_PLATINUM.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-plomo{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_32_TABLA_PLOMO.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-rainbow{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_33_TABLA_RAINBOW.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-tierra{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_40_TABLA_TIERRA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-triana{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_41_TABLA_TRIANA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-volcan{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827462/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_46_TABLA_VOLC%C3%81N.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-rojo-carmesi{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_34_TABLA_ROJO_CARMES%C3%8D.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-sapeli{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_35_TABLA_SAPELI.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-seda{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827470/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_36_TABLA_SEDA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-tropicana{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827472/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_42_TABLA_TROPICANA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-turquesa{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827461/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_43_TABLA_TURQUESA.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-ultramar{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827461/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_44_TABLA_ULTRAMAR.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-silver{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_37_TABLA_SILVER.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--tabla-sol{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_38_TABLA_SOL.png");
    background-position: center;
    background-size: cover;
}

.cuarzo--terracota{
    background-image: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620827471/DISE%C3%91OS%20Y%20MATERIALES/8.%20ENCIMERAS/ENCIMERAS%20CUARZO/Cocilux-Encimeras_Cuarzo-Cocinas_Madrid-CUAR_MOD_39_TERRACOTA.png");
    background-position: center;
    background-size: cover;
}

/* MOBILE DISPLAYS */
@media screen and (max-width: 1024px){

    .clear{
        color: #222222;
        background: white;
    }
    
    .dark{
        color: #222222;
        background: white;
    }

    .encimeras__formica-cuarzo--one-unit>*{
       border:solid black 1px;
       border-radius: 20px;
    }

    .encimeras__formica-cuarzo--one-text{
        border:none;
        font-size: calc(16px + 0.5vw);
        font-family: 'Open Sans', sans-serif;
        color:#222222;
        font-weight: 900;
    }

    .encimeras__formica-cuarzo--one{
        transform: scale(0.8);
    }

    /* SECTION ONE */
    .encimeras__section-one{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: row;
        min-height: 40vh;
    }

    .encimeras__section-one--image-container{
        display: flex;
        align-self: flex-end;
        min-width: 100vw;
        height: fit-content;
        border-radius: 0;
    }

    .encimeras__section-one--image{
        width: 100vw;
        height: auto;
    }
    
    .encimeras__section-one--header{
        background: #F6F3EE;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }
    
    .encimeras__section-one--header-content{
        transform: rotate(0deg);
    }
    
    .encimeras__section-one--header--A{
        font-size: 36px;
    }
   
    .encimeras__formica-cuarzo--one{
        width: 100vw;
        height: 20vh;
    }

    .encimeras__formica-cuarzo--one-text{
        font-size: 16px;
    }

    .encimeras__formica-cuarzo--one-unit-test{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 2.5vw;
        flex-wrap: wrap;
        margin-bottom: 20vh;
    }

}

@media screen 
and(max-width: 1024px)
and(min-width: 375px)
and(orientation: landscape){
    
    
    .encimeras__section-one--header--A{
        font-size: 36px;
        margin-top: 10%;
    }

    .encimeras__formica-cuarzo--one{
        width: 100vw;
        height: 50vh;
    }

    .encimeras__formica-cuarzo--one-unit-test{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 2.5vw;
        flex-wrap: wrap;
        margin-bottom: 20vh;
    }
}