.boxContainer2{
    background: rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.sectionContainer{
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1 0 33%;
}

@media screen and (max-width: 768px){
    
    .boxContainer2{
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        background:  #F6F3EE;
        padding-top: 10vh;
    }
    
    .sectionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:1 0 33%;
        margin: 5%;
    }  
        
}
