
.error404__backgroundImg{
    width: 100vw;
    height: 100vh;
    background-image: url(https://res.cloudinary.com/sl-cocilux/image/upload/v1620825491/DISE%C3%91OS%20Y%20MATERIALES/1.%20LAMINADOS/COCINAS/Cocilux-Laminados-Cocinas%20Madrid-3_LAMINADA.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(60%);
    align-content: center;
}

.error404__flexBox{
    display: flex;
    justify-content: center;
}

.error404__contentContainer{
    width: fit-content;
    height: fit-content;
    margin-bottom: -3vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.error404__errorMsg{
    height: fit-content;
    padding-top: 0;
    font-size: calc(48px + 12vw);
    color: white;
    filter: drop-shadow(5px 10px 2px black);
    font-family: 'Akaya Telivigala', cursive;
}

.error404__errorMsg2{
    height: fit-content;
    margin-top: calc(7vw + 20px);
    font-size: calc(24px + 5vw);
    color: white;
    filter: drop-shadow(5px 10px 2px black);
    font-family: 'Akaya Telivigala', cursive;
}

.error404__innerMsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
    margin-bottom: 5vw;
    font-size: calc(16px + 2vw);
    color: white;
    filter: drop-shadow(5px 5px 2px black);
    font-family: 'Akaya Telivigala', cursive;
}

.error404__link-button{
    width: fit-content;
    background: none;
    outline: none;
    border: none;
}

.error404__link{
    background: none;
    width: fit-content;
    color: black;
}

.error404__rotate {
    -moz-animation: error404__rotate1 error404__rotate2 10s infinite;
    -webkit-animation: error404__rotate 10s infinite;
    animation: error404__rotate 10s infinite;
    -o-animation: error404__rotate 10s infinite;
}

.error404__rotate1{
    -moz-animation: error404__rotate1 error404__rotate2 10s infinite;
    -webkit-animation: error404__rotate 10s infinite;
    animation: error404__rotate 10s infinite;
    -o-animation: error404__rotate 10s infinite;
    animation-delay: 1s;
}

.error404__rotate2{
    -moz-animation: error404__rotate1 error404__rotate2 10s infinite;
    -webkit-animation: error404__rotate 10s infinite;
    animation: error404__rotate 10s infinite;
    -o-animation: error404__rotate 10s infinite;
    animation-delay: 2s;
}

@keyframes error404__rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
   
}