
.logo {
    -moz-animation: logo 0.6s ease-in-out;
    -webkit-animation: logo 0.6s ease-in-out;
    animation: logo 0.6s ease-in-out;
    -o-animation: logo 0.6s ease-in-out;
    will-change: transform,opacity;
}
  
@keyframes logo {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(-364deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(-368deg);
  }
}

._height {
    -moz-animation: _height 0.6s ease-in-out;
    -webkit-animation: _height 0.6s ease-in-out;
    animation: _height 0.6s ease-in-out;
    -o-animation: _height 0.6s ease-in-out;
}

._width {
    -moz-animation: _width 0.6s ease-in-out;
    -webkit-animation: _width 0.6s ease-in-out;
    animation: _width 0.6s ease-in-out;
    -o-animation: _width 0.6s ease-in-out;
}

@keyframes _height {
    0%, 20%, 50%, 80%, 100% {
      height: 40px;
    }
    40% {
      height: 80px;
    }
    60% {
      height: 40px;
    }
} 

@keyframes _width {
    0%, 20%, 50%, 80%, 100% {
        width: 40px;
    }
    40% {
        width: 80px;
    }
    60% {
        width: 40px;
    }
}

.logoAnimation{
    transform: rotate(-4deg);
    width: 100px;
    height: 100px;
    opacity: 1;
}

.white{
    border: solid white 1px;
    background: white;
}

.black{
    border: solid black 1px;
    background: black;
}

.barOne{
    height: 1px;
    width: 40px;
    position: absolute;
    transition: all 2s ease-in-out;
}

.barTwo{
    height: 40px;
    width: 1px;
    position: absolute;
    transition: all 2s ease-in-out;
}

.barThree{
    position:absolute;
    bottom:0;
    right: 0;
    height: 1px;
    width: 40px;
    transition: all 2s ease-in-out;
    
}

.barFour{
    position:absolute;
    bottom:0;
    right: 0;
    height: 40px;
    width: 1px;
    transition: all 2s ease-in-out;
}

.lettering{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.letterS{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bolder;
    font-size: 115px;
    transform: scale(1, 0.7);
    color:rgba(2, 0, 0, 0.9);
    position: relative;
    top:-33px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    
}

.letterL{
    font-size: 105px;
    top:-28px;
    color:white;
    -webkit-text-stroke: 0.5px black;
    position: absolute;
    font-family: 'Cormorant Garamond', serif;

}
