// animation button //


.main__menu--link{
    text-decoration: none;
    color:#222222;
    height: fit-content;
    width: fit-content;
}

.main__menu--container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__menu--container-linkless{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #E4E1DC;
  padding: 1%;
}

.main__menu--button {
  background: none;
  border: solid 5px #222222;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin:1vw;
  font-family: 'Abhaya Libre', serif;
  color: #222222;
  font-size: 16px;
  background: none;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #222222;
  color: #222222;
  font-weight: 700;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.main__menu-spin{
    width: 200px;
    height: 200px;
    padding: 0;
    color:#222222;
    
    &:hover {
      color: #222222;
      font-size: 24px;
      transition: font-size 0.4s ease-in-out;
    }
  
    &::before,
    &::after {
      top: 0;
      left: 0;
    }
  
    &::before {
      border: 2px solid transparent; 
    }
  
    &:hover::before {
      border-top-color: #222222;
      border-right-color: #222222;
      border-bottom-color: #222222;
  
      transition:
        border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
    }
  
    &::after {
      border: 0 solid transparent; 
    }
  
    &:hover::after {
      border-top: 2px solid #222222; 
      border-left-width: 2px; 
      border-right-width: 2px; 
      transform: rotate(270deg); 
      transition:
        transform 0.4s linear 0s,
        border-left-width 0s linear 0.35s; 
    }
  }
  
  .main__menu-circle {
    border-radius: 100%;
    box-shadow: none;
      
    &::before,
    &::after {
      border-radius: 100%;
    }
  }


  .main__menu--button-clear {
    background: none;
    border: solid 5px #F6F3EE;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin:1vw;
    font-family: 'Abhaya Libre', serif;
    color: #F6F3EE;
    font-size: 16px;
    background: none;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #F6F3EE;
    color: #F6F3EE;
    font-weight: 700;
  
    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .main__menu-spin-clear{
      width: 200px;
      height: 200px;
      padding: 0;
      color:#F6F3EE;
      
      &:hover {
        color: #F6F3EE;
        font-size: 24px;
        transition: font-size 0.4s ease-in-out;
      }
    
      &::before,
      &::after {
        top: 0;
        left: 0;
      }
    
      &::before {
        border: 2px solid transparent; 
      }
    
      &:hover::before {
        border-top-color: #F6F3EE;
        border-right-color: #F6F3EE;
        border-bottom-color: #F6F3EE;
    
        transition:
          border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
      }
    
      &::after {
        border: 0 solid transparent; 
      }
    
      &:hover::after {
        border-top: 2px solid #F6F3EE; 
        border-left-width: 2px; 
        border-right-width: 2px; 
        transform: rotate(270deg); 
        transition:
          transform 0.4s linear 0s,
          border-left-width 0s linear 0.35s; 
      }
    }
    
    .main__menu-circle-clear {
      border-radius: 100%;
      box-shadow: none;
        
      &::before,
      &::after {
        border-radius: 100%;
      }
    }
/* MOBILE DEVICE DISPLAYS*/

@media screen and (max-width: 1024px){

  .main__menu--container-linkless{
    padding: 3%;
  }

  .main__menu--button {
    font-size: 10px;
  }
  
  .main__menu-spin {
      width: 100px;
      height: 100px;
  
    &:hover {
      color: #222222;
      font-size: 12px;
      transition: font-size 0.4s ease-in-out;
    }
  }
     
}


