.patas__header{
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.patas__header--image{
    position: absolute;
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620828090/EQUIPAMIENTOS/5.%20PATAS/IMG_PATAS_rqjgev.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
} 

.patas__header--content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    height: fit-content;
}

.patas__header--text{
    color: #F6F3EE;
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-size: calc(50px + 3.5vw);
    position: relative;
}

.patas__separation-bar{
    width: calc(50px + 15vw);
    height: 1px;
    border: solid #F6F3EE 2px;
    background:#F6F3EE;
    margin-right: calc(130px + 10vw);
}

.patas__content{
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.patas__content--image-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    background: white;
}

.patas__content--image-one{
    width: 50vw;
    height: 50vh;
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620828089/EQUIPAMIENTOS/5.%20PATAS/Cocilux-Equipamientos-Patas-Cocinas%20Madrid-MODELO_PATA_140.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.patas__content--text-one{
    width: 50vw;
    height: 25vh;
    display: flex;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(16px + 0.5vw);
    background-color: #222222;
    color: #F6F3EE;
    justify-content: center;
    align-items: center;
}

.patas__content--description-140mm{
    border:solid  #F6F3EE 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F3EE;
    width: 250px;
    height: fit-content;
    color:#222222;
    text-align: center;
}

.patas__content--image-two{
    width: 50vw;
    height: 50vh;
    background: url("https://res.cloudinary.com/sl-cocilux/image/upload/f_auto/v1620828089/EQUIPAMIENTOS/5.%20PATAS/Cocilux-Equipamientos-Patas-Cocinas%20Madrid-MODELO_PATA_190.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.patas__content--text-two{
    width: 50vw;
    height: 25vh;
    display: flex;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(16px + 0.5vw);
    background-color: #222222;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.patas__content--description-190mm{
    border:solid  #F6F3EE 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F3EE;
    width: 250px;
    height: fit-content;
    color:#222222;
    text-align: center;
}

.patas__content--description-text-container{
    display: flex;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(16px + 0.5vw);
    color: #F6F3EE;
    background-color: #222222;
    height: 25vh;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}

.patas__content--description-text{
    text-align: center;
    z-index: 10;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(16px + 0.8vw);
    color: whitesmoke;
}

@media screen and (max-width: 1024px){

    .patas__header {
        height: 50vh;
    }

    .patas__header--image{
        height: 50vh;
    }

    .patas__header--content-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-items: flex-start;
        min-height: 50vh;
        height: fit-content;
        padding-top: 10%;
    }

    .patas__header--text{
        font-size: calc(36px + 3.5vw);
    }


    .patas__content{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .patas__content--image-container{
        display: flex;
        flex-direction: column;
    }

    .patas__content--image-one{
        width: 100vw;
    }

    .patas__content--text-one{
        width: 100vw;
    }

    .patas__content--image-two{
        width: 100vw;
    }

    .patas__content--text-two{
        width: 100vw;
    }

    
}