.tiradores__header{
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.tiradores__header--image{
    position: absolute;
    background: url("https://res.cloudinary.com/gunnerag/image/upload/v1620905389/Andrea/IMG_TIRADORES_q64ydm.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
} 

.tiradores__header--content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40vh;
}

.tiradores__header--text{
    color: snow;
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-size: calc(50px + 3.5vw);
    position: relative;
}

.tiradores__separation-bar{
    width: calc(50px + 15vw);
    height: 1px;
    border: solid white 2px;
    background:white;
    margin-right: calc(130px + 10vw);
}

.tiradores__content{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.tiradores__content--efecto-gota{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 50vh;
    height: fit-content;
}

.tiradores__content--efecto-gota-image{
    width:60vw;
    background: url("https://res.cloudinary.com/gunnerag/image/upload/v1620905389/Andrea/TIRADOR_U%C3%91ERO_ydpjhm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tiradores__content--efecto-gota-text{
    width: 40vw;
    height: fit-content;
    min-height: 50vh;
    padding: 5% 5% 5% 5%;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(16px + 0.8vw);
    color:black;
}

.tiradores__content--efecto-gota-text--bold{
    display: inline-block;
    font-weight: 600;
}

.tiradores__content--tiradores-general{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 50vh;
    height: fit-content;
}

.tiradores__content--tiradores-general-image{
    width:60vw;
    background: url("https://res.cloudinary.com/gunnerag/image/upload/v1620905388/Andrea/TIRADORES_hardu6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tiradores__content--tiradores-general-text{
    width: 40vw;
    height: fit-content;
    min-height: 50vh;
    padding: 5% 5% 5% 5%;
    font-family: 'Abhaya Libre', serif;
    font-size: calc(16px + 0.8vw);
    background-color: #222222;
    color: whitesmoke;
}

@media screen and (max-width: 1024px){

    .tiradores__header {
        height: 50vh;
    }
    .tiradores__header--image{
        height: 50vh;
    }
    .tiradores__header--content-container{
        padding-top: 5vh;
    }

    .tiradores__content{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .tiradores__content--efecto-gota{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: fit-content;
    }

    .tiradores__content--efecto-gota-image{
        width:100vw;
        height: 30vh;
        background: url("https://res.cloudinary.com/gunnerag/image/upload/v1620905389/Andrea/TIRADOR_U%C3%91ERO_ydpjhm.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .tiradores__content--efecto-gota-text{
        width: 100vw;
        height: fit-content;
        font-family: 'Abhaya Libre', serif;
        font-size: calc(16px + 0.8vw);
        font-weight: 600;
        color:#222222;
        text-align: center;
        min-height: 0vh;
        margin-top: 5%;
        margin-bottom: 5%;  
    }
    
    .tiradores__content--tiradores-general{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }

    .tiradores__content--tiradores-general-image{
        width:100vw;
        height: 30vh;
        background: url("https://res.cloudinary.com/gunnerag/image/upload/v1620905388/Andrea/TIRADORES_hardu6.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .tiradores__content--tiradores-general-text{
        width: 100vw;
        height: fit-content;
        font-family: 'Abhaya Libre', serif;
        font-size: calc(16px + 0.8vw);
        color: #F6F3EE;
        text-align: center;
        font-weight: 600;
        background: #222222;
        min-height: 0vh; 
        padding-top: 10%;
        padding-bottom: 10%;   
    }
    
}